[global]
  e2dsa
  e2ts
  dedup
  rproxy: 1
  xff-src: lan
  xff-hdr: X-Forwarded-For
  hist: ~/.cache/copyparty

[accounts]
  felix:test
  thm:test
  Lara:test

[/private]
  /opt/copyparty/files/private
  accs:
    A: felix

[/Lara]
  /opt/copyparty/files/Lara
  accs:
    A: Lara

[/zotero]
  /opt/copyparty/files/zotero
  accs:
    A: felix
  flags:
    daw